.content {
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - 2rem - 200px); /* From padding-top & waves */
  max-width: 1280px;
  padding: 2rem;
  margin: auto;
}

.content h1 {
  margin-top: 1rem;
}

.textWrapper {
  width: 75%;
  padding-right: 5rem;
  margin: auto;
}

.avatarWrapper {
  display: flex;
  position: relative;
  margin: auto;
  width: 25%;
  min-width: 320px;
  height: 40vh;
  min-height: 360px;
  border-radius: 0 0 180px 180px;
  overflow: hidden;
  isolation: isolate;
  justify-content: center;
}

.avatarWrapper img {
  z-index: 1;
  position: absolute;
  bottom: 0;
  height: 110%;
  object-fit: cover;
  aspect-ratio: 1;
}

.bgCircle {
  position: absolute;
  bottom: 0;
  width: 100%;
  aspect-ratio: 1;
  background-color: #efefef;
  z-index: 0;
  border-radius: 50%;
}

@media (max-width: 960px) {
  .content {
    flex-direction: column-reverse;
  }

  .textWrapper {
    width: 100%;
    padding-right: 0;
  }
}