.header {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100vw;
  margin: 1rem auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background: transparent;

  & > * {
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0 1rem;
  }

  & a:hover {
    cursor: default;
    color: var(--text-color);
  }
}