.socialMedia {
  color: #F9F9F9;
  background-color: #69CAFA;
  margin: auto;
}

.content {
  min-height: 20vh;
  max-width: 1280px;
  margin: auto;
}

.content h2 {
  margin: 0 auto;
  text-align: center;
}

.content p {
  margin-bottom: 0;
  text-align: center;
}

.mediasWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  gap: 1rem;
}

.mediasWrapper li {
  width: 2.5rem;
  aspect-ratio: 1;
  list-style: none;
}

.mediaIcon {
  fill: #F9F9F9;
  width: 100%;
  height: 100%;
}

.mediasWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mailBtn {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #247DC7;
}

.blueWavesSpacer {
  aspect-ratio: 1280/200;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../assets/blue-waves.svg');
  margin: -1px 0;
}

.flipped {
  transform: rotate(180deg);
}