.content {
  min-height: 20vh;
  margin: 0 auto;
  padding: 1rem 0;

  & h2 {
    margin: 0 0.5em;
    text-align: center;
  }

  & p {
    margin-bottom: 0;
    text-align: center;
    margin: 1em 0.5em 0;
  }
}
