html {
  scroll-behavior: smooth;
}

:root {
  --white: #ffffff;
  --light-gray: #f0f0f0;
  --gray: #888888;
  --dark-gray: #213547;

  --purple: #747bff;
  --dark-purple: #646cff;

  --dark-blue: #247dc7;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--dark-gray);
  background-color: var(--white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--dark-purple);
  text-decoration: inherit;
}

a:hover {
  color: var(--purple);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  user-select: none;
  outline: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}